@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  body {
    @apply overflow-x-hidden;
  }
  .schedule::-webkit-scrollbar {
    @apply w-0 hidden;
  }
}

@layer components {
  /* mycontiner */
  .mycontainer {
    @apply mx-5 sm:mx-10
  }

  /* btn */
  .btn {
    @apply text-white bg-[#76C1F3] hover:bg-[#429edb] hover:text-white transition-all py-2 px-5 cursor-pointer rounded-full;
  }
  .header-reliability {
    background: linear-gradient(180deg, #b0fefe 0%, #3b7ee2 100%);
    background-clip: text;
    color: transparent;
  }
  .narrowbg {
    background-image: url("../public/icons/narrowbg.svg");
  }
  .confirmed {
    background-image: url("../public/images/confirmedbg.jpeg");
  }
  .confirmed-layer {
    background: linear-gradient(
      1.59deg,
      #76c1f3 -11.21%,
      #76c1f3 -11.2%,
      #ffffff 129.39%
    );
  }
  .confirmed-progressbar {
    background: linear-gradient(269.99deg, #309fe7 7.01%, #96d2f2 98.82%);
  }

  .profile-check {
    background: linear-gradient(161.78deg, #b3caee 12.38%, #ececec 195.33%);
  }
  .grandientbtn {
    background: linear-gradient(281.62deg, #96d2f2 -4.61%, #309fe7 77.47%);
  }
  .signupbtn {
    background: linear-gradient(278.68deg, #ffffff -29.26%, #b7e3ff 170.19%);
  }
}
